.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  padding: 0 20px 9px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #212121;
  background: #73d677;
  border: none;
  border-radius: 11px;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  outline: 0;
  cursor: pointer;

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 6px;
  }
}
